<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Page Header -->
         
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h4 class="page-title">
                Utilisateurs <span class="count-title">{{ length }}</span>
              </h4>
            </div>
            <div class="col-md-4 text-end">
              <div class="head-icons">
                <app-reload></app-reload>
                <app-collapse-header></app-collapse-header>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Header -->
        @if (currentUser) {
        <div class="card">
          <div class="card-header">
            <!-- Search -->
            <div class="row align-items-center">
              <div class="col-sm-4">
                <div class="icon-form mb-3 mb-sm-0">
                  <span class="form-icon"><i class="ti ti-search"></i></span>
                  <input type="text" (keyup)="applyFilter($event)" class="form-control" placeholder="Ex. jean kasongo"
                    #input />
                </div>
              </div>
              <div class="col-sm-8">
                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                  <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="ti ti-package-export me-2"></i>Export</a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <ul>
                        <li>
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="ti ti-file-type-pdf text-danger me-1"></i>Export as PDF</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);" class="dropdown-item"><i
                              class="ti ti-file-type-xls text-green me-1"></i>Export as Excel
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  @if(currentUser.permission === 'ALL' ||
                  currentUser.permission === 'VAE' ||
                  currentUser.permission === 'VA') {
                  <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvas_add"><i class="ti ti-square-rounded-plus me-2"></i>Add user</a>
                  }
                </div>
              </div>
            </div>
            <!-- /Search -->
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                class="mat-elevation-z2 table">

                <!-- fullname Column -->
                <ng-container matColumnDef="fullname">
                  <th mat-header-cell *matHeaderCellDef> Nom complet </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                </ng-container>

                <!-- title Column -->
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Titre </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- phone Column -->
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef> Phone </th>
                  <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container> 
                
                <!-- status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Statut </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge badge-pill badge-status" [ngClass]="{
                          'bg-success': (element.status) ? 'Actif' : '',
                          'bg-danger': (element.status) ? '' : 'Inactif'
                        }">
                      @if (element.status) {
                      Active
                      } @else {
                      Inactive
                      }
                    </span>
                  </td>
                </ng-container>

                <!-- id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    @if(currentUser.permission === 'ALL' ||
                    currentUser.permission === 'VAE' ||
                    currentUser.permission === 'VED' ||
                    currentUser.permission === 'VE') {
                    <button mat-icon-button (click)="findValue(element.id)" data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvas_edit">
                      <mat-icon class="text-blue">edit</mat-icon>
                    </button>
                    }
                    @if(currentUser.permission === 'ALL' ||
                    currentUser.permission === 'VED') {
                    <button mat-icon-button (click)="findValue(element.id)" data-bs-toggle="modal"
                      data-bs-target="#delete_contact">
                      <mat-icon class="text-danger">delete</mat-icon>
                    </button>
                    }
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  @if (isLoadingData){
                  <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                  } @else {
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  }
                </tr>
              </table>
            </div>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[15, 20, 30, 40, 50, 80, 100]"
              showFirstLastButtons (page)="onPageChange($event)" aria-label="Select page">
            </mat-paginator>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="datatable-length"></div>
              </div>
              <div class="col-md-6">
                <div class="datatable-paginate"></div>
              </div>
            </div>
            <!-- /Manage Users List -->
          </div>
        </div>
        }

      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->

<!-- Add User -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
  <div class="offcanvas-header border-bottom">
    <h5 class="fw-semibold">Add New User</h5>
    <button type="button"
      class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
      data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="ti ti-x"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="user">Fullname <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="fullname" required />
              <mat-error *ngIf="formGroup.controls['fullname'].hasError('required')">
                Ce champs est obligatoire
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="location">Title <span class="text-danger">*</span></label>
              <mat-select class="select custom-mat-select" placeholder="Choose title" formControlName="title" required>
                @for (item of isTitleList; track item) {
                <mat-option value="{{item}}">{{item}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="formGroup.controls['title'].hasError('required')">
                Ce champs est obligatoire
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <div class="d-flex justify-content-between align-items-center">
                <label class="col-form-label" for="email">Email <span class="text-danger">*</span></label>
              </div>
              <input type="text" class="form-control" formControlName="email" required />
              <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                Ce champs est obligatoire
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="phone">Phone
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" formControlName="phone" required />
              <mat-error *ngIf="formGroup.controls['phone'].hasError('required')">
                Ce champs est obligatoire
              </mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="Password">Password <span class="text-danger">*</span></label>
              <div class="icon-form-end">
                <span class="form-icon" (click)="togglePassword(1)" tabindex="0"><i class="ti"
                    [ngClass]="password[1] ? 'ti-eye' : 'ti-eye-off'"></i></span>
                <input [type]="password[1] ? 'text' : 'password'" class="form-control" formControlName="password"
                  required />
                <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
                  Ce champs est obligatoire
                </mat-error>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="text">Repeat Password <span class="text-danger">*</span></label>
              <div class="icon-form-end">
                <span class="form-icon" (click)="togglePassword(2)" (keydown.enter)="togglePassword(2)" tabindex="0"><i
                    class="ti" [ngClass]="password[2] ? 'ti-eye' : 'ti-eye-off'"></i></span>
                <input [type]="password[2] ? 'text' : 'password'" class="form-control"
                  formControlName="password_confirm" required />
                <mat-error *ngIf="formGroup.controls['password_confirm'].hasError('required')">
                  Ce champs est obligatoire
                </mat-error>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="permission">
                Permission
                <span class="text-danger">*</span>
              </label>
              <mat-select class="select custom-mat-select" formControlName="permission" placeholder="Choose permission">
                @for (item of permissionList; track item) {
                <mat-option value="{{item.name}}">{{item.name}} => "{{item.desc}}"</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="formGroup.controls['permission'].hasError('required')">
                Ce champs est obligatoire
              </mat-error>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mt-3 mb-3">
              <label class="col-form-label" for="statususer">Status user <span class="text-danger">*</span></label>
              <div class="status-toggle">
                <input type="checkbox" id="statususer" class="check form-control" formControlName="status">
                <label for="statususer" class="checktoggle"></label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mt-3 mb-3">
              <label class="col-form-label" for="is_manager1">Status manager
                <span class="text-danger">*</span></label>
              <div class="status-toggle">
                <input type="checkbox" id="is_manager1" class="check form-control" formControlName="is_manager"
                  (change)="onChangeCheck($event)">
                <label for="is_manager1" class="checktoggle"></label>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="offcanvas">Cancel</a>
        @if (isLoading) {
        <button disabled class="btn btn-primary">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
        }
        @if (!isLoading) {
        <button type="submit" class="btn btn-primary" data-bs-target="#create_success">Create</button>
        }
      </div>
    </form>
  </div>
</div>
<!-- /Add User -->



<!-- Edit Contracts -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">

  <div class="offcanvas-header border-bottom">
    <h4>Edit User</h4>
    <button type="button"
      class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
      data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="ti ti-x"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="user">Fullname <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="fullname" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="location">Title <span class="text-danger">*</span></label>
              <mat-select class="select custom-mat-select" placeholder="Choose title" formControlName="title" required>
                @for (item of isTitleList; track item) {
                <mat-option value="{{item}}">{{item}}</mat-option>
                }
              </mat-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <div class="d-flex justify-content-between align-items-center">
                <label class="col-form-label" for="email">Email <span class="text-danger">*</span></label>
              </div>
              <input type="text" class="form-control" formControlName="email" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="phone">Phone
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control" formControlName="phone" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="col-form-label" for="permission">
                Permission
                <span class="text-danger">*</span>
              </label>
              <mat-select class="select custom-mat-select" formControlName="permission" placeholder="Choose permission">
                @for (item of permissionList; track item) {
                <mat-option value="{{item.name}}">{{item.name}} => "{{item.desc}}"</mat-option>
                }
              </mat-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mt-3 mb-3">
              <label class="col-form-label" for="statususer2">Status user <span class="text-danger">*</span></label>
              <div class="status-toggle">
                <input type="checkbox" id="statususer2" class="check form-control" formControlName="status">
                <label for="statususer2" class="checktoggle"></label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mt-3 mb-3">
              <label class="col-form-label" for="is_manager2">Status manager
                <span class="text-danger">*</span></label>
              <div class="status-toggle">
                <input type="checkbox" id="is_manager2" class="check form-control" formControlName="is_manager"
                  (change)="onChangeCheck($event)">
                <label for="is_manager2" class="checktoggle"></label>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
        @if (isLoading) {
        <button disabled class="btn btn-primary">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
        }
        @if (!isLoading) {
        <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas" data-bs-target="#create_success">Save
          Changes</button>
        }
      </div>
    </form>
  </div>

</div>
<!-- /Edit Contracts -->

<!-- Delete User -->
<div class="modal fade" id="delete_contact" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
            <i class="ti ti-trash-x fs-36 text-danger"></i>
          </div>
          <h4 class="mb-2">Remove item?</h4>
          <p class="mb-0">Are you sure you want to remove it</p>
          <div class="d-flex align-items-center justify-content-center mt-4">
            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
            <button (click)="delete()" class="btn btn-danger" data-bs-dismiss="modal">
              Yes, Delete it
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete User -->
<!-- /Delete Contracts -->